.message {
  /* background-color: tomato; */
  display: flex;
  gap: 20px;
  align-items: center;
  /* justify-content: center; */
  padding: 0 10px;
}

.message img {
  height: 50px;
  border-radius: 50%;
}

.message-container h4 {
  font-weight: 600;
  margin: 5px 0;
}

.message-container p {
  background-color: white;
  border-radius: 0 10px 10px 10px;
  margin: 5px 0;
  padding: 10px;
}

.message-container span {
  color: rgb(39, 36, 36);
}

.message-el {
  display: flex;
  align-items: center;
  gap: 10px;
}
